@import url("https://fonts.googleapis.com/css2?family=Oxanium&family=Press+Start+2P&family=Yellowtail&display=swap");
* {
  font-family: "Press Start 2P", cursive;
  margin: 0;
  background: black;
  height: auto;
  color: white;
  text-shadow: 0 0 10px #00f8ff, 0 0 20px #00f8ff, 0 0 40px #00f8ff, 0 0 80px #00f8ff, 0 0 120px #00f8ff;
}

h1 {
  font-family: "Yellowtail", cursive;
  text-shadow: 0 0 10px #c800ff, 0 0 15px #c800ff, 0 0 20px #c800ff;
  filter: brightness(1);
  font-weight: 400;
  font-size: 5rem;
  margin: 0;
  animation: flash 5s linear infinite;
  opacity: 1;
  overflow: visible;
  margin: 2rem;
}

h2 {
  font-family: "Yellowtail", cursive;
  text-shadow: 0 0 10px #c800ff, 0 0 20px #c800ff, 0 0 40px #c800ff;
  font-weight: 400;
  font-size: 1.8rem;
  text-transform: capitalize;
  filter: brightness(1);
  margin: 2rem;
}

h3 {
  text-shadow: 0 0 10px #ff00c1, 0 0 20px #ff00c1, 0 0 40px #ff00c1;
  font-weight: 400;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 10px #00caff, 0 0 20px #00caff, 0 0 40px #00caff, 0 0 80px #00caff, 0 0 120px #00caff;
}

p {
  font-family: "Oxanium", cursive;
  font-size: 1.2rem;
  filter: brightness(0.9);
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 70vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background: none;
}

#landing-text-inner {
  background: none;
}

#landing-text h2 {
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  background: rgb(0, 0, 0);
  box-shadow: 0 0 2px #c800ff;
  padding: 15px;
  display: inline-block;
  margin: 1rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: white;
  transition: background 300ms ease-in, transform 300ms ease-out;
  font-size: 24px;
}

.btn:hover {
  box-shadow: 0 0 10px #ff00c1, 0 0 20px #ff00c1;
  opacity: 1;
  transform: scale(1.1);
}

.btn:focus {
  outline: none;
  border-color: white;
  box-shadow: 0 0 10px #ff00c1, 0 0 20px #ff00c1, 0 0 40px #ff00c1, 0 0 80px #ff00c1;
}

#landing-image {
  background: url("../images/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  flex: 0 1 60vh;
  margin: 0;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background-image: url("../images/headerbg.jpg");
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

#header h2 {
  font-family: "Yellowtail", cursive;
  margin-bottom: 20px;
  padding: 0;
  display: inline-block;
  text-shadow: 0 0 10px #ff7300, 0 0 20px #ff7300, 0 0 40px #ff7300, 0 0 80px #ff7300, 0 0 120px #ff7300;
  background: none;
  filter: brightness(1.2);
  font-size: 5rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: white;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
  animation: flash 5s linear infinite;
}

@keyframes neonFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    text-shadow: 0 0 10px #c800ff, 0 0 20px #c800ff, 0 0 40px #c800ff, 0 0 80px #c800ff, 0 0 120px #c800ff;
    opacity: 1;
  }
  20%, 24%, 55% {
    text-shadow: none;
    opacity: 0.6;
  }
}
h1,
h2,
h3 {
  animation: neonFlicker 1.5s infinite alternate;
}

h1 {
  text-shadow: 0 0 10px #c800ff, 0 0 20px #c800ff, 0 0 40px #c800ff, 0 0 80px #c800ff, 0 0 120px #c800ff;
}

/* Screen size 500px + */
@media (max-width: 500px) {
  #landing-text {
    height: 100vh;
  }
  #landing-image {
    height: 100vh;
    margin: 0;
  }
  .btn {
    padding: 10px;
    font-size: 10px;
  }
  h1 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=styles.css.map */
